[Unit]
Description=ARGO Automation CPAS Daemon
After=network.target

[Service]
Type=simple
Environment=VIRTUAL_ENV=/opt/argo-automation-cpas/
Environment="PATH=/opt/argo-automation-cpas/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
User=dvrcic
Group=dvrcic
ExecStart=/opt/argo-automation-cpas/bin/python /opt/argo-automation-cpas/bin/argo-cpasd
KillMode=process
SyslogIdentifier=argo-cpasd

[Install]
WantedBy=multi-user.target
