[GENERAL_{{ tenant_name }}]
Namespace = {{ tenant_namespace }}
SamlLoginString = {{ tenant_samlloginstring }}
SamlServiceName = {{ tenant_samlservicename }}
TermsOfUse = {{ tenant_termsofuse }}
PrivacyPolicies = {{ tenant_privacypolicies }}
{% if tenant_servicetitles | default(false) %}
UseServiceTitles = {{ tenant_servicetitles }}
{% endif %}
{{' '}}
[SUPERUSER_{{ tenant_name }}]
Name = {{ tenant_superuser_name }}
Password = {{ tenant_superuser_password }}
Email = {{ tenant_superuser_email }}
