[DEFAULT]
VENV = /opt/argo-automation-cpas/

[general]
loggers = stdout, file, syslog
log_level = INFO
log_file = /opt/argo-automation-cpas/var/log/argo-cpas.log
syslog_address = /dev/log
syslog_facility = user

[ams]
project = ARGO-MON-AUTOMATION
host = api.devel.msg.argo.grnet.gr
subscription = events-sub-2
token = AUTOMATION_TOKEN

[webapi]
host = api.devel.mon.argo.grnet.gr
url-api-config = /api/v2/feeds/topology
url-api-integrations = /api/v3/integrations/components/{component}/by-tenant-name/{tenant_name}/refresh
poem-component-admin = POEM_ADMIN
monbox-component-admin = MONBOX_ADMIN
connectors-component-admin = CONNECTORS_ADMIN

[statusapi]
api = https:/api-status.devel.mon.argo.grnet.gr/v1/automation/tenants/{tenant_id}/status

[iam]
api = https://login-devel.einfra.grnet.gr/auth/realms/einfra/protocol/openid-connect/token
oidc_client_id = client-id
oidc_client_secret = client-secret

[ansible]
user_connector = user
group_connector = user
ssh_private_key = /home/user/.ssh/sshkey
defaults_file = /opt/argo-automation-cpas/etc/roles-defaults.yml
tokens_file = /opt/argo-automation-cpas/etc/tokens.yml

# vim: ft=conf
