---

{% if item.tenant_topo_combine | default(false) %}
- name: Combine topologies
  type: topology
  tenant: {{ item.tenant_name }}
{% endif %}
{% if item.tenant_topo_combine | default(false) and combine_global[item.tenant_name | lower] | default(false) %}
  config:
{% filter indent(width=4, first=true) %}
{{ combine_global[item.tenant_name | lower] | to_nice_yaml(indent=2) }}
{%- endfilter %}
{% endif %}
  combine:
{% filter indent(width=4, first=true) %}
{{ item.tenant_topo_combine_config | to_nice_yaml(indent=2) }}
{%- endfilter %}
