[DEFAULT]
VENV = {{ connector_virtenv_path }}

[General]
WriteJson = {{ connector_general_writejson }}
PublishWebAPI = {{ connector_general_publishwebapi }}
PassExtensions = {{ connector_general_passextensions }}
CompressJson = {{ connector_general_compressjson }}

[Authentication]
VerifyServerCert = {{ connector_auth_verifyservercert }}
CAFile = {{ connector_auth_cafile }}
CAPath = {{ connector_auth_capath }}
HostKey = {{ connector_auth_hostkey }}
HostCert = {{ connector_auth_hostcert }}
UsePlainHttpAuth = {{ connector_auth_useplainhttpauth }}
HttpUser = {{ connector_auth_httpuser }}
HttpPass = {{ connector_auth_httppass }}

[WebAPI]
Token = {{ connector_webapi_token }}
Host = {{ connector_webapi_host }}

[Connection]
Timeout = {{ connector_connection_timeout }}
Retry = {{ connector_connection_retry }}
SleepRetry = {{ connector_connection_sleepretry }}
RetryRandom = {{ connector_connection_retryrandom }}
SleepRandomRetryMax = {{ connector_connection_sleeprandomretrymax }}

[InputState]
SaveDir = {{ connector_inputstate_savedir }}
Days = {{ connector_inputstate_days }}

[Output]
Downtimes = {{ connector_output_downtimes }}
ServiceTypes = {{ connector_output_servicetypes }}
TopologyGroupOfEndpoints = {{ connector_output_topologygroupofendpoints }}
TopologyGroupOfGroups = {{ connector_output_topologygroupofgroups }}
Weights = {{ connector_output_weights }}
